<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    {%~ block title -%}
        <title>{{ 'Starwars'|trans }} 🌟 -</title>
    {%- endblock ~%}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %} {% endblock %}

    {% block favicon -%}
        <link rel="manifest" href="{{ asset('build/favicon/site.webmanifest') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon/favicon-16x16.png') }}">
        <link rel="mask-icon" href="{{ asset('build/favicon/safari-pinned-tab.svg') }}" color="#2E3440">
        <link rel="shortcut icon" href="{{ asset('build/favicon/favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#2e3440">
        <meta name="msapplication-config" content="{{ asset('build/favicon/browserconfig.xml') }}">
        <meta name="theme-color" content="#2e3440">
    {%- endblock %}


    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
{% block body %}
    <div class="container">
        <h1 class="text-center">
            <span class="highlight">{{ 'Starwars'|trans|raw }}</span>
        </h1>
    </div>
{% endblock %}
</body>
</html>
