{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1 class="text-center highlight">{{ 'Starwars' }}</h1>

        <div class="film-list--search">
            {% set search_query = app.request.get('query', '') %}
            <form method="get"
                  action="{{ path('app_starwars_list') }}"
                  id="film-list--search-form"
                  data-controller="autosubmit"
                  data-turbo-frame="film_list"
            >
                <label>
                    <input type="search"
                           name="search"
                           placeholder="{{ 'Search films' }}"
                           data-action="input->autosubmit#debouncedSubmit"
                           value="{{ search_query }}"
                    >
                </label>
            </form>

        </div>

        <turbo-frame id="film_list" src="{{ path('app_starwars_list') }}" loading="lazy"></turbo-frame>
    </div>
{% endblock %}