{% set films = films|default([]) %}
{% set search = app.request.query.get('search')|default('') %}
{% set sort = app.request.query.get('sort')|default('desc') %}
{% set nextSort = sort is not same as('asc') ? 'asc' : 'desc' %}

<turbo-frame id="film-list">

    <article class=" film-list">

        <div class="sort-button">
            <a href="{{ path('app_starwars_list', {'sort': nextSort, 'search': search}) }}">
                {% if sort == 'asc' %}
                    {% include 'partials/svg/arrow_down.svg.twig' %}
                    Sort by Release Date
                {% else %}
                    {% include 'partials/svg/arrow_up.svg.twig' %}
                    Sort by Release Date
                {% endif %}
            </a>
        </div>

        {% for film in films %}
            <section class="film-item" aria-labelledby="film-title-{{ loop.index }}">
                <header>
                    <h2 id="film-title-{{ loop.index }}">{{ film.title }}</h2>
                </header>
                <div class="film-content">
                    <p>{{ film.openingCrawl }}</p>
                    <p><strong>Director:</strong> {{ film.director }}</p>

                    <div class="film-producers">
                        <p>
                            <strong>Producers:</strong>
                            {{ film.producers|join(', ') }}
                        </p>
                    </div>

                    <p><strong>Release Date:</strong> {{ film.releaseDate|date('d.m.Y') }}</p>
                </div>
            </section>
        {% else %}
            <p>{{ 'No films found.' }}</p>
        {% endfor %}
    </article>
</turbo-frame>